*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
    width: 100%;
    height: 100vh;
   background: linear-gradient( rgb(61, 58, 58),rgb(37, 37, 59)); 
   /* background: rgb(61, 58, 58);  */
}
#aniket{
    width: 100%;
    height: 90vh;
}
#aniket >article{
    width: 90%;
    height: 90vh;
    /* border: 1px solid black;   */
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aniket >article >main{
    width: 30%;
    height: 80vh;
    /* border: 1px solid black; */
    margin: 1px 20px;
  background: linear-gradient(rgb(37, 37, 59), rgb(61, 58, 58));   
  /* background: linear-gradient( rgb(61, 58, 58),rgb(110, 104, 104));    */
  
  border-radius: 20px;

}


#aniket >article >main > #div1{
    width: 90%;
    height: 10vh;
    /* border: 1px solid black; */
    margin: 20px 20px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 30px; */
}
#search{
    /* margin: 10px;  */
    padding: 10px;
    /* background: linear-gradient(rgb(80, 23, 23), gray);  */
    background-color:rgb(37, 37, 59) ;
    color: gray;
    border: 1px solid gray;
    border-radius: 20px;
    height: 35px;
    /* border-collapse: collapse; */
}
#btn{
    /* margin: 10px; */
    padding: 10px;
    background-color: rgb(37, 37, 59);
    border: 1px solid gray;
    color: gray;
    border-radius: 20px;
    height: 35px;
}
#img1{
    height: 100px;
    width: 100px;
}

#aniket >article >main > #div2{
    width: 90%;
    height: 20vh;
    /* border: 1px solid black; */
    margin: 20px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#aniket >article >main > #div3{
    width: 90%;
    height: 20vh;
    /* border: 1px solid black; */
    margin: 20px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#loc{
    font-size: 35px;
}
#temp{
    font-size: 23px;
}
#aniket >article >main > #div4{
    width: 90%;
    height: 15vh;
    /* border: 1px solid black;  */
    margin: 20px 20px; 
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly;
}